.gradle
/local.properties
/.idea/**
.DS_Store
/build
*.iml
./app/*iml
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
app/explode
app/release

# Android App Bundle (build artifact)
*.aab

# Keystore file. Copy the keystore.properties.template and fill it.
keystore.properties