<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".ui.KanjiMasterApplicaton"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_adaptive"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">

        <activity
            android:name=".ui.sections.progress.ProgressLogActivity"
            android:label="@string/title_activity_progress_log"
            android:launchMode="singleTask"
            />

        <provider
            android:name=".ui.data.StubContentProvider"
            android:authorities="dmeeuwis.com"
            android:exported="false"
            android:label="WriteJapanese"
            android:multiprocess="true"
            android:syncable="true" />

        <activity
            android:name=".ui.sections.primary.KanjiMasterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.sections.progress.ReminderManager"
            android:icon="@mipmap/ic_launcher_adaptive" />
        <receiver android:name="com.amazon.device.iap.ResponseReceiver">
            <intent-filter>
                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY"
                    android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.sections.progress.CharsetInfoActivity"
            android:label="Study Goals"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.sections.primary.KanjiMasterActivity" />
        </activity>
        <activity
            android:name=".ui.sections.teaching.TeachingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.sections.credits.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:launchMode="singleTask" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
            android:value="false" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />

        <service
            android:name=".ui.data.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".ui.sections.tests.TestDrawActivity"
            android:label="@string/title_activity_test_draw" />
        <activity
            android:name=".ui.sections.tests.KanjiCheckActivity"
            android:label="@string/title_activity_kanji_check" />
        <activity
            android:name=".ui.sections.tests.SpenDrawActivity"
            android:label="@string/title_activity_spen_draw" />
        <activity
            android:name=".ui.sections.tests.DrawViewTestActivity"
            android:label="@string/title_activity_draw_view_test" />
        <activity android:name=".ui.sections.credits.ReleaseNotesActivity" />
        <activity
            android:name=".ui.sections.seteditor.CharacterSetListActivity"
            android:label="@string/title_characterset_list" />
        <activity
            android:name=".ui.sections.seteditor.CharacterSetDetailActivity"
            android:label="@string/title_characterset_detail"
            android:parentActivityName=".ui.sections.seteditor.CharacterSetListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dmeeuwis.kanjimaster.ui.sections.seteditor.CharacterSetListActivity" />
        </activity>
        <activity
            android:name=".ui.sections.primary.IntroActivity"
            android:theme="@style/Theme.Intro" />
    </application>

</manifest>