<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="dmeeuwis.kanjimaster">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name="dmeeuwis.nakama.primary.KanjiMasterApplicaton"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_adaptive"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >
        <provider
            android:name="dmeeuwis.nakama.data.StubContentProvider"
            android:authorities="dmeeuwis.com"
            android:exported="false"
            android:label="WriteJapanese"
            android:multiprocess="true"
            android:syncable="true"/>

        <activity
            android:name="dmeeuwis.nakama.primary.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dmeeuwis.nakama.primary.KanjiMasterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
<!--
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
-->
            </intent-filter>
        </activity>

        <receiver
            android:name="dmeeuwis.nakama.ReminderManager"
            android:icon="@mipmap/ic_launcher_adaptive"
            />

        <activity
            android:name="dmeeuwis.nakama.primary.CharsetInfoActivity"
            android:label="Study Goals"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dmeeuwis.nakama.primary.KanjiMasterActivity" />
        </activity>
        <activity
            android:name="dmeeuwis.nakama.teaching.TeachingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name="dmeeuwis.nakama.ProgressActivity"
            android:label="@string/title_activity_progress"
            android:launchMode="singleTask" />
        <activity
            android:name="dmeeuwis.nakama.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:launchMode="singleTask" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
            android:value="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />

        <service
            android:name="dmeeuwis.nakama.data.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name="dmeeuwis.nakama.TestDrawActivity"
            android:label="@string/title_activity_test_draw" />
        <activity
            android:name="dmeeuwis.nakama.KanjiCheckActivity"
            android:label="@string/title_activity_kanji_check" />
        <activity
            android:name="dmeeuwis.nakama.SpenDrawActivity"
            android:label="@string/title_activity_spen_draw" />
        <activity
            android:name="dmeeuwis.nakama.DrawViewTestActivity"
            android:label="@string/title_activity_draw_view_test" />
        <activity android:name="dmeeuwis.nakama.ReleaseNotesActivity"/>
        <activity
            android:name=".charsets.CharacterSetListActivity"
            android:label="@string/title_characterset_list"/>
        <activity
            android:name=".charsets.CharacterSetDetailActivity"
            android:label="@string/title_characterset_detail"
            android:parentActivityName=".charsets.CharacterSetListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dmeeuwis.kanjimaster.charsets.CharacterSetListActivity" />
        </activity>
        <activity
            android:name="dmeeuwis.nakama.primary.IntroActivity"
            android:theme="@style/Theme.Intro" />
    </application>

</manifest>