<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dmeeuwis.kanjimaster" >

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <!-- <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" /> -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <provider android:name="dmeeuwis.nakama.data.StubContentProvider"
            android:exported="false"
            android:syncable="true"
            android:authorities="dmeeuwis.com">
        </provider>

        <activity
            android:name="dmeeuwis.nakama.primary.KanjiMasterActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="dmeeuwis.nakama.ReminderManager" />
        <activity
            android:name="dmeeuwis.nakama.primary.CharsetInfoActivity"
            android:label="Study Goals"
            android:launchMode="singleInstance" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dmeeuwis.nakama.primary.KanjiMasterActivity" />
        </activity>
        <activity
            android:name="dmeeuwis.nakama.teaching.TeachingActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name="dmeeuwis.nakama.ProgressActivity"
            android:label="@string/title_activity_progress"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name="dmeeuwis.nakama.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:launchMode="singleInstance" >
        </activity>

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />


        <service
            android:name="dmeeuwis.nakama.data.SyncService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name="dmeeuwis.nakama.TestDrawActivity"
            android:label="@string/title_activity_test_draw" >
        </activity>
        <activity
            android:name="dmeeuwis.nakama.KanjiCheckActivity"
            android:label="@string/title_activity_kanji_check" >
        </activity>
        <activity
            android:name="dmeeuwis.nakama.SpenDrawActivity"
            android:label="@string/title_activity_spen_draw" >
        </activity>
        <activity
            android:name="dmeeuwis.nakama.DrawViewTestActivity"
            android:label="@string/title_activity_draw_view_test" >
        </activity>
    </application>

</manifest>
